<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>统计</title>
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/wangEditor/release/wangEditor.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/echarts/echarts.min.js}"></script>
    <link th:href="@{/css/main.css}" rel="stylesheet">
</head>
<body>
<!--引入抽取的topbar-->
<div th:replace="commons/bar::topbar"></div>
<div class="container-fluid">
    <div class="row">
        <!--引入抽取的sidebar-->
        <div th:replace="commons/bar::sidebar(activeUri='count.html')"></div>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <div id="main" style="width: 600px;height:400px;"></div>
            <script type="text/javascript">
                let myChart = echarts.init(document.getElementById('main'));
                let names = [];
                let values = [];
                myChart.showLoading();
                $.ajax({
                    url: "/count",
                    type: "POST",
                    async: true,
                    data: {},
                    dataType: "json",
                    success: function (result) {
                        if (result) {
                            for (let i = 0; i < result.length; i++) {
                                names.push(result[i].name);
                                values.push(result[i].number);
                            }
                            myChart.hideLoading();
                            myChart.setOption({
                                title: {
                                    text: "数量统计",
                                    x: "center"
                                },
                                tooltip: {
                                    trigger: 'item',
                                    formatter: "{a} <br/>{b} : {c} ({d}%)"
                                },
                                legend: {
                                    orient: 'vertical',
                                    left: 'left',
                                    data: names
                                },
                                series: [
                                    {
                                        name: '年份',
                                        type: 'pie',
                                        radius: '55%',
                                        center: ['50%', '60%'],
                                        data: result,
                                        itemStyle: {
                                            emphasis: {
                                                shadowBlur: 10,
                                                shadowOffsetX: 0,
                                                shadowColor: 'rgba(0, 0, 0, 0.5)'
                                            }
                                        }
                                    }
                                ]
                            })
                        }
                    },
                    error: function (error) {
                        alert("图标请求失败");
                        myChart.hideLoading();
                    }
                });
            </script>
        </main>
    </div>
</div>
</body>
</html>